body{
    font-family: 'Montserrat', sans-serif;
    background-color: #FFF8F3;
}
.left-section{
    background-image: linear-gradient(to bottom right, #ff4c68, #FECD70);
    position: relative;
    text-align: center;
    height: 100vh;
}
.right-section{
    background-color: #FFF8F3;
    height: 100vh;
    position: relative;
}
.logo{
    width: 20rem;
    height: 18rem;
    margin-top: 6.5rem;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1.5;
    font-size: 2.5rem;
    color: #fff;
    position: absolute;
    width: 90%;
    top: 25rem;
    left: 6%;
}
.register{
    position: absolute;
    right: 8%;
    top: 3rem;
    background-color: #fff;
}

.signinbox{
    border-radius: 1.5rem;
    width: 55%;
    height: 33.5rem;
    background-color: #fff;
    position: absolute;
    top: 9rem;
    left: 23%;
    text-align: center;
    padding: 0 2rem;
}

h2{
    margin: 2.5rem auto 1.5rem auto;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

h3{
    text-align: left;
    line-height: 2;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
}

.buttonsignin{
    text-align: initial;
    margin-top: 2.5rem;
}

.btn-danger{
    background-color: #ff4c68;
    width: 100%;
}

.or{
    font-size: 1.1rem;
}

.btn-primary{
    width: 100%;
    background-color: #4285F4;
}
.bi-google{
    margin-right: 1rem;
}

.btn{
    height: 2.5rem;
}

.smh1{
    display: none;
}

@media(max-width:767px){
    .left-section{
        position: none;
    }
    .right-section{
        width: 100%;
    }
    .signinbox{
        left: 10%;
        width: 80%;
    }
    .or{
        display: none;
    }
    .smh1{
        display: block;
        position: absolute;
        color: #000;
        top: 3%;
        left: 5%;
        font-size: 2.2rem;
        color: #ff4c68;
    }
    .btn-danger{
        margin-bottom: 0.5rem;
    }
    .signinbox{
        height: 35rem;
    }
}

@media(max-height:600px){
    .left-section{
        height: 45rem;
    }
}



